<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="COMMON_PATTERN"
              value="[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%X{IP}][%X{CU}][%.10t] %logger{36}[%L] - %m%n" />
    <property name="LOG_CHARSET" value="UTF-8" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${LOG_CHARSET}</charset>
            <pattern>${COMMON_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="net.xiuc.*" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- root的默认level是DEBUG -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>